doctype html
html(lang="en")
  head
    title Ticket Details
    link(rel="stylesheet", href="/static/style.css")
  body
    .container(style="text-align: center;")
      h3 Ticket Details
      if error
        h4(style="color: red;")= error
      else if ticket
        h6 OIB: #{ticket.oib}
        h6 Name: #{ticket.ime}
        h6 Surname: #{ticket.prezime}
        h6 Created at: #{new Date(ticket.created_at).toLocaleString()}
      else
        h4 Loading ticket details...
